In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob
import librosa

files_normaly = sorted(glob.glob(os.path.abspath('../input/train/*/normal/*.wav')))
files_anomaly = sorted(glob.glob(os.path.abspath('../input/train/*/anomaly/*.wav')))
files_test = sorted(glob.glob(os.path.abspath('../input/test/*.wav')))

In [2]:
normal = []
for file in files_normaly:
    y, sr = librosa.load(file, sr=None)
    normal.append(y)

normal = np.array(normal)

anomaly = []
for file in files_anomaly:
    y, sr = librosa.load(file, sr=None)
    anomaly.append(y)
anomaly = np.array(anomaly)

test = []
for file in files_test:
    y, sr = librosa.load(file, sr=None)
    test.append(y)
test = np.array(test)

In [5]:
train = np.concatenate([normal, anomaly])

In [6]:
train.shape

(3308, 160000)

In [7]:
train_ds = pd.DataFrame(t)

In [8]:
train_ds.head()

,0,1,2,3,4,5,6,7,8,9,...,159990,159991,159992,159993,159994,159995,159996,159997,159998,159999
0,-0.008453,-0.008545,-0.009094,-0.009430,-0.009064,-0.007751,-0.008545,-0.009247,-0.009613,-0.009644,...,-0.006439,-0.006104,-0.005707,-0.005219,-0.005402,-0.005280,-0.005341,-0.004669,-0.004059,-0.003723
1,-0.002869,-0.000793,0.000793,0.001404,0.001984,0.002869,0.004395,0.005035,0.004242,0.003387,...,0.005890,0.005280,0.004150,0.003510,0.003387,0.004303,0.004761,0.004456,0.004639,0.005157
2,0.003387,0.003235,0.002655,0.002991,0.003540,0.003723,0.003815,0.003967,0.005005,0.006256,...,-0.002045,-0.002319,-0.002075,-0.002014,-0.002350,-0.002716,-0.002747,-0.002319,-0.001190,-0.000641
3,-0.002930,-0.003357,-0.004822,-0.005554,-0.005554,-0.004883,-0.004364,-0.004272,-0.004333,-0.004578,...,-0.000031,-0.000427,-0.001678,-0.002808,-0.002380,-0.000366,0.001587,0.002289,0.002899,0.003937
4,0.005737,0.007599,0.008636,0.008972,0.008942,0.008698,0.007263,0.005737,0.004974,0.004120,...,0.007660,0.008118,0.008270,0.007660,0.008057,0.008850,0.008972,0.008911,0.008362,0.007690

In [9]:
train_ds['N_A'] = np.concatenate([np.zeros(len(normal)), np.ones(len(anomaly))])

In [11]:
train_ds.tail()

,0,1,2,3,4,5,6,7,8,9,...,159991,159992,159993,159994,159995,159996,159997,159998,159999,N_A
3303,0.005646,0.005798,0.006226,0.006226,0.005157,0.003937,0.002258,0.000214,-0.001953,-0.003754,...,0.005890,0.004852,0.003448,0.002228,0.000702,-0.000549,-0.001831,-0.003784,-0.004944,1.0
3304,0.001404,0.009949,0.012360,0.011719,0.009277,0.013519,0.013550,0.020325,0.016266,0.024994,...,-0.015839,-0.018402,-0.021637,-0.019928,-0.017334,-0.021271,-0.027039,-0.026886,-0.026093,1.0
3305,0.016693,0.018280,0.010590,0.005371,0.000885,-0.006897,-0.006531,-0.006256,-0.001740,0.000885,...,-0.003845,-0.003479,-0.003540,0.001129,0.006958,0.016052,0.023193,0.026062,0.029205,1.0
3306,-0.066284,-0.058655,-0.061279,-0.043732,-0.032379,-0.017975,-0.005951,0.002411,0.006073,0.000153,...,-0.014771,-0.015808,-0.012085,-0.009674,-0.007019,-0.003723,-0.001556,-0.002106,-0.002838,1.0
3307,0.020844,0.014862,0.010376,0.002533,0.000732,0.003845,0.006897,0.008942,0.008881,0.005890,...,0.002808,0.002411,-0.000153,-0.005829,-0.009247,-0.009796,-0.008179,-0.010681,-0.012177,1.0

In [3]:
melspec_normal = []
for n in normal:
    m = librosa.feature.melspectrogram(n, n_mels=256)
    m = librosa.power_to_db(m).astype(np.float32)
    melspec_normal.append(m)
melspec_normal = np.array(melspec_normal)

melspec_anomaly = []
for a in melspec_anomaly:
    m = librosa.feature.melspectrogram(a, n_mels=256)
    m = librosa.power_to_db(m).astype(np.float32)
    melspec_anomaly.append(m)
melspec_anomaly = np.array(melspec_anomaly)

melspec_test = []
for t in test:
    m = librosa.feature.melspectrogram(t, n_mels=256)
    m = librosa.power_to_db(m).astype(np.float32)
    melspec_test.append(m)
melspec_test = np.array(melspec_test)

melspec_normal[0]

array([[-23.985783 , -22.303171 , -20.881401 , ..., -19.18052  ,
        -18.203428 , -17.370537 ],
       [-14.4819565, -12.901993 , -11.989307 , ..., -11.372461 ,
        -12.614955 , -14.748705 ],
       [-14.655664 , -11.73073  , -12.168055 , ..., -10.024946 ,
        -15.040049 , -13.456381 ],
       ...,
       [-56.362343 , -55.77894  , -54.17509  , ..., -59.090466 ,
        -57.41912  , -57.632072 ],
       [-57.292118 , -55.758186 , -56.846344 , ..., -59.123962 ,
        -57.952023 , -56.26556  ],
       [-58.31067  , -58.712772 , -58.112904 , ..., -64.289276 ,
        -61.89186  , -60.351463 ]], dtype=float32)

In [4]:
import xgboost as xgb

from sklearn.ensemble import (RandomForestClassifier, AdaBoostClassifier, 
                            GradientBoostingClassifier, ExtraTreesClassifier)

from sklearn.svm import SVC
from sklearn.model_selection import KFold

In [5]:
melspec_normal.shape

(1654, 256, 313)

In [6]:
train = np.concatenate([melspec_normal, melspec_anomaly])

train = train.reshape(train.shape[0],-1)
test = melspec_test.reshape(melspec_test.shape[0], -1)

train_Y = np.concatenate([np.zeros(len(melspec_normal)), np.ones(len(melspec_anomaly))])

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 3 dimension(s) and the array at index 1 has 1 dimension(s)