In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


answer =pd.read_csv('./data/answer.csv', header=None, index_col=0)
winner = pd.read_csv('./data/winner.csv', header=None, index_col=0)

In [8]:
answer.iloc[1:2]

     1
0
1  0.0

In [3]:
winner.head()

          1
0
0  1.212950
1  0.059298
2  0.802971
3  4.375265
4  8.669358

In [10]:
shop_1 = pd.DataFrame()

In [17]:
shop_1 = shop_1.append(answer.iloc[1:2])

In [19]:
shop_1 = shop_1.append(answer.iloc[2:3])

In [20]:
type(answer.iloc[1:2])

pandas.core.frame.DataFrame

In [21]:
shop_1.head()

     1
0
1  0.0
2  0.0

In [24]:
for i in range(1,18):
    shop_i = pd.DataFrame()

In [33]:
for i in range(1,18):
    shop_ += i

NameError: name 'shop_' is not defined