In [25]:
import pandas as pd
import numpy as np
%matplotlib inline

In [26]:
df = pd.read_csv('../data/sales_history.csv', index_col='日付', parse_dates=True)
test = pd.read_csv('../data/test.csv',index_col=0)

In [27]:
df.head()

            店舗ID     商品ID  商品価格  売上個数
日付
2018-01-01     9  1000001   420   1.0
2018-01-01     6  1000001   420   1.0
2018-01-01    10  1000001   420   1.0
2018-01-01     0  1000017   250   1.0
2018-01-01     1  1000017   250   1.0

In [28]:
test.columns = 'id shop_id'.split()

In [29]:
df.columns = 'shop_id id price quantity'.split()

In [30]:
df.columns

Index(['shop_id', 'id', 'price', 'quantity'], dtype='object')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1119570 entries, 2018-01-01 to 2019-10-31
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   shop_id   1119570 non-null  int64
 1   id        1119570 non-null  int64
 2   price     1119570 non-null  int64
 3   quantity  1119570 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 42.7 MB

In [32]:
df = df[df['id'].isin(test['id'])]

In [35]:
df.groupby(['shop_id','id']).sum()

                 price  quantity
shop_id id
0       1000001  11480      30.0
        1000002   2500      10.0
        1000003   1670       7.0
        1000004   2390      12.0
        1000005   9260      39.0
...                ...       ...
17      3300001   9070       5.0
        3400001  20730      25.0
        3400002  24050      15.0
        3400003  27850      24.0
        3500001    420       1.0

[2925 rows x 2 columns]

In [38]:
df.month

AttributeError: 'DataFrame' object has no attribute 'month'

In [39]:
df.year

AttributeError: 'DataFrame' object has no attribute 'year'