In [2]:
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])

In [4]:
df

   A  B
0  4  9
1  4  9
2  4  9

In [5]:
df['C'] = df.apply(np.sum, axis=1)

In [6]:
df

   A  B   C
0  4  9  13
1  4  9  13
2  4  9  13

In [11]:
def add(x):
        if x >=1:
            return 2 
        else:
            return 4

In [12]:
lI = [15, 8, 10]

In [13]:
df["mmm"] = df['A'].apply(add)

In [14]:
df

   A  B   C  mmm
0  4  9  13    2
1  4  9  13    2
2  4  9  13    2