In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
from xgboost import XGBRegressor
from xgboost import plot_importance

from sklearn.preprocessing import LabelEncoder
from itertools import product


import time

In [25]:
test = pd.read_csv('../data/test.csv', index_col=0)
submit = pd.read_csv('../data/sample_submission.csv')
data = pd.read_pickle('data.pkl')

In [26]:
data.columns

Index(['month_idx', 'shop_id', 'item_id', 'item_cnt_month', 'cat_id',
       'type_code', 'item_cnt_month_lag_1', 'item_cnt_month_lag_2',
       'item_cnt_month_lag_3', 'item_cnt_month_lag_6', 'item_cnt_month_lag_12',
       'delta_price_lag', 'delta_revenue_lag_1', 'month', 'days',
       'item_last_sale', 'item_shop_first_sale', 'item_first_sale'],
      dtype='object')

In [27]:
data = data[[
'month_idx', 'shop_id', 'item_id', 'item_cnt_month', 'cat_id',
       'type_code', 'item_cnt_month_lag_1', 'item_cnt_month_lag_2',
       'item_cnt_month_lag_3', 'item_cnt_month_lag_6', 'item_cnt_month_lag_12',
       'delta_price_lag', 'delta_revenue_lag_1', 'month', 'days',
       'item_last_sale', 'item_shop_first_sale', 'item_first_sale'
]]

In [28]:
data.month_idx.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 23], dtype=int8)

In [29]:
X_train = data[data.month_idx < 21].drop(['item_cnt_month'], axis=1)
y_train = data[data.month_idx < 21]['item_cnt_month']
X_valid = data[data.month_idx == 21].drop(['item_cnt_month'], axis=1)
y_valid  = data[data.month_idx == 21]['item_cnt_month']
X_test = data[data.month_idx ==23].drop(['item_cnt_month'], axis=1)

In [30]:
del data

In [31]:
import gc

In [32]:
gc.collect()

100

In [33]:

ts = time.time()

model = XGBRegressor(
    max_depth=8,
    n_estimators = 1000,
    min_child_weight = 300,
    colsample_bytree=0.8,
    eta=0.3,
    seed=42
)

model.fit(X_train, y_train,eval_metric="rmse", eval_set=[(X_train, y_train),(X_valid, y_valid)],
    verbose=True,
    early_stopping_rounds=10)

time.time() - ts

[0]	validation_0-rmse:2.77450	validation_1-rmse:3.13861
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 10 rounds.
[1]	validation_0-rmse:2.66730	validation_1-rmse:3.04196
[2]	validation_0-rmse:2.53330	validation_1-rmse:2.93133
[3]	validation_0-rmse:2.46084	validation_1-rmse:2.87352
[4]	validation_0-rmse:2.42302	validation_1-rmse:2.83753
[5]	validation_0-rmse:2.40320	validation_1-rmse:2.81914
[6]	validation_0-rmse:2.38465	validation_1-rmse:2.80003
[7]	validation_0-rmse:2.37176	validation_1-rmse:2.78187
[8]	validation_0-rmse:2.36162	validation_1-rmse:2.76613
[9]	validation_0-rmse:2.35030	validation_1-rmse:2.75477
[10]	validation_0-rmse:2.33258	validation_1-rmse:2.75481
[11]	validation_0-rmse:2.32749	validation_1-rmse:2.74826
[12]	validation_0-rmse:2.32450	validation_1-rmse:2.74908
[13]	validation_0-rmse:2.32138	validation_1-rmse:2.74831
[14]	validation_0-rmse:2.31879	validation_1-rmse:2.74199
[15]	validation_0-rmse:2.30990	validation_1-rmse:2.74526
[16]	validation_0-rmse:2.30742	validation_1-rmse:2.74315
[17]	validation_0-rmse:2.30530	validation_1-rmse:2.74475
[18]	validation_0-rmse:2.30397	validation_1-rmse:2.74176
[19]	validation_0-rmse:2.30154	validation_1-rmse:2.74144
[20]	validation_0-rmse:2.30103	validation_1-rmse:2.74161
[21]	validation_0-rmse:2.29980	validation_1-rmse:2.74083
[22]	validation_0-rmse:2.29650	validation_1-rmse:2.74984
[23]	validation_0-rmse:2.29526	validation_1-rmse:2.74929
[24]	validation_0-rmse:2.29397	validation_1-rmse:2.75288
[25]	validation_0-rmse:2.29333	validation_1-rmse:2.75380
[26]	validation_0-rmse:2.29150	validation_1-rmse:2.75469
[27]	validation_0-rmse:2.29081	validation_1-rmse:2.75327
[28]	validation_0-rmse:2.28814	validation_1-rmse:2.75271
[29]	validation_0-rmse:2.28675	validation_1-rmse:2.75263
[30]	validation_0-rmse:2.28599	validation_1-rmse:2.75341
[31]	validation_0-rmse:2.27885	validation_1-rmse:2.75255
Stopping. Best iteration:
[21]	validation_0-rmse:2.29980	validation_1-rmse:2.74083

41.1632342338562

In [34]:
y_pred = model.predict(X_valid)
y_test = model.predict(X_test)

submission = pd.DataFrame({
    "ID": test.index,
    "item_cnt_month": y_test
})

submission.to_csv('xgb_submission.csv', index=False )

In [17]:
submit

         0  100
0        1  100
1        2  100
2        3  100
3        4  100
4        5  100
...    ...  ...
3054  3055  100
3055  3056  100
3056  3057  100
3057  3058  100
3058  3059  100

[3059 rows x 2 columns]

In [16]:
submission

        ID  item_cnt_month
0        0        0.360681
1        1        0.000000
2        2        0.383577
3        3        1.242619
4        4        2.760417
...    ...             ...
3055  3055        0.765410
3056  3056        0.000894
3057  3057        0.000894
3058  3058        0.000894
3059  3059        0.016139

[3060 rows x 2 columns]